<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="conatiner">
                {% csrf_token %}

                {{ form.as_p }}
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>