{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%} User Login {% endblock %}

{% block content %}
    <div class="container bg-light">
        <h2 class="card-title text-center">Please Login</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="conatiner">
                {% csrf_token %}

                {{ form|crispy }}
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
