{% extends 'base.html' %}

{% load static %}

{% block title%} User Registration {% endblock %}


{% block content %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="conatiner">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Choose Your Role</h5>
                      <!-- <p class="card-text"></p> -->
                      <a class="btn btn-primary" style="color:white;"  href="{% url 'usr_role:doctor_register' %}">Doctor</a>
                      <a class="btn btn-primary" style="color:white;" href="{% url 'usr_role:patient_register' %}">Patient</a>
                    </div>
                    <div class="card-footer text-muted">
                      Already have an account ? <a href="{% url 'usr_role:login' %}">login</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}